$primary: #2f6e99;
$secondary: #484376;
$danger: #b03468;
$gray-base: #33304a;
$body-bg: #fefefe;
$font-family-sans-serif: 'Ubuntu', sans-serif;
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$card-spacer-x: 0.9375rem;
$card-spacer-y: 0.625rem;
$sidebar-width: 300px;
$table-accent-bg: rgba($primary, 0.05);
$table-hover-bg: rgba($secondary, 0.15);
