@import url('https://fonts.googleapis.com/css?family=Montserrat|Ubuntu:300,400,700&subset=latin-ext');

@import 'variables';
@import 'mixins';
@import '~bootstrap/scss/bootstrap';
@import '~sweetalert2/src/sweetalert2';

@import 'elements/print';
@import 'elements/card';
@import 'elements/navbar';
@import 'elements/buttons';
@import 'elements/transitions';
@import 'elements/tooltips';
@import 'elements/sidebar';
@import 'elements/loaders';

.rental-datepicker {
  .vdp-datepicker__calendar .cell.selected,
  .vdp-datepicker__calendar .cell.selected.highlighted,
  .vdp-datepicker__calendar .cell.selected:hover {
    background: $primary;
    color: white;
  }
  .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
  .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
  .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
    border-color: $primary;
  }
}

.datatable-container {
  overflow-x: auto;
}

.page-wrapper {
  display: flex;
  padding-left:0;
  min-height: 100vh;
  padding-top: 56px;
}

.page-content {
  padding-bottom: 56px;
  @media (max-width: 992px){
    padding-left: 15px;
  }
  @media (min-width: 993px){
    padding-left: $sidebar-width + 15px;
  }
  position: absolute;
  right: 0;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  & > div {
    display: block;
    width: 100%;
  }
}

.dropdown-menu {
  .vdp-datepicker__calendar {
    border: 0;
  }
}

.dropdown-toggle::after {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin-bottom: 3rem;
  small {
    font-size: 40%;
  }
}

.datatable-action {
  margin-right: 15px;
}

.panel-box {
  background-color: white;
  padding: 15px;
  box-shadow: 0 0 16px -8px rgba(0, 0, 0, .35);
  margin: 5px;
  strong {
    display: block;
    font-weight: 100;
    font-size: 20px;
  }
  span {
    display: block;
    font-weight: bold;
    font-size: 36px;
  }
  svg.svg-inline--fa.fa-fw {
    position: absolute;
    right: 30px;
    top: 15px;
    width: 3rem;
    height: 3rem;
    color: #ccc;
  }
}
