.admin-sidebar{
  width: $sidebar-width;
  position: fixed;
  @media (max-width: 992px){
    left: -$sidebar-width;
  }
  @media (min-width: 993px){
    left: 0;
  }
  height: 100%;
  z-index: 999;
  @include fancy-gradient-bg();
  margin-right: 15px;
  nav {
    padding: 15px;
    a {
      display: block;
      color: white;
      font-size: 1rem;
      margin-bottom: 15px;
      padding: 10px 15px;
      transition: all .3s ease;
      &:first-of-type {
        margin-top: 15px;
      }
      &:hover, &.router-link-active {
        text-decoration: none;
        background-color: rgba($primary, .75);
        color: white;
      }
      svg {
        margin-right: 15px;
      }
    }
  }
}
@media (max-width: 992px){
  .admin-sidebar {
    opacity: 0;
    transition: all .3s ease;
  }
  body.sidebarOpen .admin-sidebar {
    left: 0;
    width: 100%;
    opacity: 1;
  }
}
